
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MasterTeacher.cshtml";
}


<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="no content">
                    <div class="vibe_editor clearfix">
                        <div class="v_module v_column col-md-8 col-sm-8 v_first">
                            <div class="v_module v_text_block  nothing_selected"><div id="____________"></div>
                            <div id="vibe-tabs-9" class="tabs tabbable tabs-left ">
                                <h4>درباره ما</h4>
                                <div class="tab-content"> <div id="tab-2518263047-H9CjSW" class="tab-pane active"><p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p></div> <div id="tab-3277001049-H9CjSW" class="tab-pane"><p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p></div> <div id="tab-4093935819-H9CjSW" class="tab-pane"><p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد..</p></div> <div id="tab-2190091588-H9CjSW" class="tab-pane"><p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p></div><div id="tab-4047616236-H9CjSW" class="tab-pane"><p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p></div><div id="tab-422437287-H9CjSW" class="tab-pane"><p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p></div></div></div></div>
                        </div> <!-- end .v_column_col-md-8 col-sm-8 -->
                        <div class="v_module v_column col-md-4 col-sm-4 ">
                            <style>
                                .custombanner img {
                                    border: 5px solid #FFF;
                                    border-radius: 2px;
                                    box-shadow: 0 1px 2px #bbb;
                                }
                            </style>

                            <img src="~/File/About/aboutvector-1.png" />
                        </div> <!-- end .v_column_col-md-4 col-sm-4 -->
  
                        <div class="v_module v_column col-md-12 fullwidth v_first">
                            <div class="v_module v_text_block  nothing_selected"><div id="____________"></div><p></p><h3 class="heading "><span>معرفی ما</span></h3><p></p><div class="one_half clearfix">
                               
                        </div> <!-- end .v_column_col-md-12 fullwidth -->
                        <div class="v_module v_column col-md-3 col-sm-3 v_first">
                            <div class="v_module v_text_block  nothing_selected">
                                <div id="____________"></div><div class="team_member ">
                                    <img src="../../../../vibethemes.com/envato/wplms/wp-content/uploads/2013/06/team1.png" alt="team1" width="452" class="animate zoom"><div class="member_info"><h3>هانیه&nbsp;خسروی <small>[ بازاریاب ]</small></h3><span class="clear"></span><ul class="team_socialicons"><li><a href="http://www.twitter.com/" title="twitter" class="twitter"><i class="icon-twitter"></i></a></li><li><a href="http://www.facebook.com/" title="facebook-1" class="facebook-1"><i class="icon-facebook-1"></i></a></li> <li><a href="http://www.dribbble.com/" title="dribbble-2" class="dribbble-2"><i class="icon-dribbble-2"></i></a></li></ul></div>
                                </div><p>&nbsp;</p>
                            </div>
                        </div> <!-- end .v_column_col-md-3 col-sm-3 -->
                        <div class="v_module v_column col-md-3 col-sm-3 ">
                            <div class="v_module v_text_block  nothing_selected">
                                <div id="____________"></div><div class="team_member ">
                                    <img src="../../../../vibethemes.com/envato/wplms/wp-content/uploads/2013/08/team3.png" alt="team3" width="452" class="animate zoom"><div class="member_info"><h3>سمیرا نمازی <small>[ طراح گرافیکی ]</small></h3><span class="clear"></span><ul class="team_socialicons"><li><a href="http://www.twitter.com/" title="twitter" class="twitter"><i class="icon-twitter"></i></a></li><li><a href="http://www.facebook.com/" title="facebook-1" class="facebook-1"><i class="icon-facebook-1"></i></a></li> <li><a href="http://www.dribbble.com/" title="dribbble-2" class="dribbble-2"><i class="icon-dribbble-2"></i></a></li></ul></div>
                                </div><p>&nbsp;</p>
                            </div>
                        </div> <!-- end .v_column_col-md-3 col-sm-3 -->
                        <div class="v_module v_column col-md-3 col-sm-3 ">
                            <div class="v_module v_text_block  nothing_selected">
                                <div id="____________"></div><div class="team_member ">
                                    <img src="../../../../vibethemes.com/envato/wplms/wp-content/uploads/2013/06/team4.png" alt="team4" width="452" class="animate zoom"><div class="member_info"><h3>کامران نوریان <small>[ مدیریت ]</small></h3><span class="clear"></span><ul class="team_socialicons"><li><a href="http://www.twitter.com/" title="twitter" class="twitter"><i class="icon-twitter"></i></a></li><li><a href="http://www.facebook.com/" title="facebook-1" class="facebook-1"><i class="icon-facebook-1"></i></a></li> <li><a href="http://www.dribbble.com/" title="dribbble-2" class="dribbble-2"><i class="icon-dribbble-2"></i></a></li></ul></div>
                                </div><p>&nbsp;</p>
                            </div>
                        </div> <!-- end .v_column_col-md-3 col-sm-3 -->
                        <div class="v_module v_column col-md-3 col-sm-3 ">
                            <div class="v_module v_text_block  nothing_selected">
                                <div id="____________"></div><div class="team_member ">
                                    <img src="../../../../vibethemes.com/envato/wplms/wp-content/uploads/2013/06/team2.png" alt="team2" width="452" class="animate zoom"><div class="member_info"><h3>سعید جمشیدی <small>[ برنامه نویسی ]</small></h3><span class="clear"></span><ul class="team_socialicons"><li><a href="http://www.twitter.com/" title="twitter" class="twitter"><i class="icon-twitter"></i></a></li><li><a href="http://www.facebook.com/" title="facebook-1" class="facebook-1"><i class="icon-facebook-1"></i></a></li> <li><a href="http://www.dribbble.com/" title="dribbble-2" class="dribbble-2"><i class="icon-dribbble-2"></i></a></li></ul></div>
                                </div><p>&nbsp;</p>
                            </div>
                        </div> <!-- end .v_column_col-md-3 col-sm-3 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
