
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                نام کاربری
            </div>
            <div class="col-lg-6">
                <input type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
              رمز عبور
            </div>
            <div class="col-lg-6">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                
            </div>
            <div class="col-lg-6">
                <input type="submit" />
            </div>
        </div>
    </div>
</div>

